<div class="row justify-content-center">
    <div class="col-8 col-md-5">
        <form [formGroup]="loginForm" class="d-flex flex-column g-2">
        
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" class="form-control" placeholder="Email..." name="email"
                    [formControl]="email">
            </div>

            <div *ngIf="submitted && email.hasError('invalidEmail')" class="alert alert-danger">
                L'email non e' valida
            </div>

            <div class="form-group">
                <label for="Email">Password</label>
                <input type="password" id="Email" class="form-control" placeholder="Email..." name="password" [formControl]="password">
            </div>
        
            <div *ngIf="submitted && password.hasError('invalidPass')" class="alert alert-danger">
                La password non e' valida
            </div>
            
            <button type="submit" [disabled]="email.hasError('invalidEmail') && password.hasError('invalidPass')" class="btn btn-info">Invia dati</button>
        </form>
    </div>
</div>